{{>layouts/header}}

<form class="container" action="/articles/create" method="">
    <input type="text">
    <textarea></textarea>
    <button type="submit">Submit</button>
</form>

{{>layouts/footer}}